    body {
 margin: 0;
  padding: 0;
        height: 100%;
        background-color: black;
        /*background-image: url(images/portraitCJC.png);*/
        color: white;
}

h1{

    
}

.rightside{
    position:absolute;
        width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    right: 0;
    font-family: Comic Sans MS;
    z-index: 1;
    
}

.pageTitle{
  background-image: url(images/bookshelf01.png);
}

.bookshelf{
      position: relative;
  text-align: center;
}

.book{
    position: relative;
    width: 400px;
   
    margin-top: 0px;
    
    
}

.bookTitle {
    width: max-content;
    height: fit-container;
    background-color:beige;
    font-size: 25px;
    
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trashcan{
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.bottomstuff{
    background-image: url(cloudspink.png);
    position: relative;
    bottom:0;
    height: 30px;
    width: 100%;
}

.line{
    width: 100%;
height: 2px;
border-bottom: 1px solid white;
}

/* The sidebar menu */
.sidenav {

  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: aqua;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 8px;
    font-family: Comic Sans MS;
  text-decoration: none;
  font-size: 16px;
  color:black;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: blue;
    font-family: cursive;
    animation: pop 0.15s linear 1;
}

@keyframes pop{
  50%  {transform: scale(1.1);}
}


/* Style page content */
.main {
  margin-left: 120px; /* Same as the width of the sidebar */
    margin-right: 0px;
  padding: 0px 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}